body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0;
    overflow-x: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #eee;
}

h2 {
    font-size: 24px;
    font-family: Roboto;
}

p {
    font-size: 16px;
    font-family: Roboto;
}

i {
    font-size: 16px;
    font-family: "Roboto Slab";
}

li {
    list-style: none
}

input[type="text"], input[type="email"] {
    min-width: 240px;
    min-height: 40px;
}

input[type="text"].ng-invalid.ng-touched, input[type="email"].ng-invalid.ng-touched {
    background-color: #FA787E;
}

input[type="text"].ng-valid.ng-touched, input[type="email"].ng-valid.ng-touched {
    background-color: #78FA89;
}

input[type="button"], input[type="submit"] {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
    border: 2px ridge grey;
    font-weight: initial;
    font-size: 17px;
    color: white;
    height: 60px;
    width: 150px;
    cursor: pointer;
}

textarea {
    min-width: 360px;
    min-height: 200px;
}

.addPage {
    display: flex;
    height: 40px;
    align-items: center;
    margin: 10px 0;
}

.addPage p, .addPage button {
    background-color: green;
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addPage input {
    padding: 0;
    margin: 0;
}

.template {
    width: 200px;
    margin: 0 10px;
}

.template div {
    width: 200px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.template div img {
    height: auto;
    width: 100%;
}

.template input {
    margin: 0;
    width: 100%;
}

.templates {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.difference {
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difference.open {
    height: 95vh;
}

.difference p {
    font-size: 24px;
    width: 50%;
}

.imageContainer {
    width: 95%;
    height: 95%;
    position: fixed;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, .75);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.imageContainer div {
    margin: auto auto;
}

.imageContainer div img {
    width: auto;
    height: 600px;
}
