body {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica;
}

.button {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: grey;
  border-style:;
  border-width: 2px;
  border-color: grey;
  border-radius: 5px;
}

div {
  border-color: grey;
  border-style: solid;
  border-width: 2px;
}

p {
  font-weight: bold;
  color: white;
  margin: 0 auto;
}

#page {
  border-style: none none dashed none;
  border-width: 1px;
  border-color: grey;
  padding: 75px;
}

h1 {
  font-weight: normal;
  font-size: 250%;
  color: rgb(100,100,100);
  margin-bottom: 100px;
}

h2 {
  font-weight: normal;
  font-size: 125%;
  color: rgb(100,100,100);
  margin-bottom: 75px;
}

.infoBox {
  height: 50px;
  width: 500px;
  margin: 20px auto;
  font-size: 75%;
}