body {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica;
}

button {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: grey;
  border-style: ridge;
  border-width: 2px;
  border-color: grey;
  border-radius: 5px;
  font-weight: initial;
  font-size: 17px;
  color: white;
  height: 60px;
  width: 150px;
}

.dottedLine {
  height: 80px;
  width: 1px;
  border-style: dashed none none none;
  border-width: 1px;
  border-color: grey;

}

.infoBox {

}

input {
  display: block;
  margin: 30px auto;
  text-align: center;
  height: 60px;
  width: 300px;

}

#page {
  border-style: none none dashed none;
  border-width: 1px;
  border-color: grey;
  padding: 75px;
}

h1 {
  font-weight: initial;
  font-size: 2em;
  color: rgb(75,75,75);
  margin-bottom: 75px;
}

h2 {
  font-weight: initial;
  font-size: 1em;
  color: rgb(100,100,100);
  margin-bottom: 75px;
}