body {
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica;
}

section {
  width: 100%;
  min-height: 100vh;
  background-color: #dcd;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

button {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: grey;
  border: 2px ridge grey;
  border-radius: 5px;
  font-weight: initial;
  font-size: 17px;
  color: white;
  height: 60px;
  width: 150px;
}


h1 {
  font-weight: initial;
  font-size: 2em;
  color: rgb(75,75,75);
  width: 100%;
}

h2 {
  font-weight: initial;
  font-size: 1em;
  color: rgb(100,100,100);
  width: 100%;
}

section div {
  width: 50%;
}

#section3 div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

#section3 div > button, #section3 div a {
  width: 32%;
  height: 150px;
}
#section3 div > button {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #D7D7D7;
  border-radius: 0;
  font-size: 1.5em;
  font-family: Helvetica, Roboto, sans-serif;
}
#section3 div > button:hover {
  cursor: pointer;
}
#section3 textarea {
  width: 100%;
  height: 150px;
  padding: 20px;
}

.container {
  height: 66%;
  width: 75%;
}

.dottedLine {
  height: 80px;
  width: 1px;
  border: 1px none grey;
  border-top-style: dashed;
}

input {
  display: block;
  margin: 30px auto;
  text-align: center;
  height: 60px;
  width: 300px;

}
